@model MVC.Models.ListUnitsModel

@{
    ViewData["Title"] = "Show Units";
    ViewData["UserId"] = Model.UserId;
    var userId = Model.UserId;
    var groupId = Model.UnitGroupId;
    var groups = Model.Groups;
    var units = Model.Units;
}
@if (groups.Length == 0)
{
<p>You don't have any UnitGroups.</p>
<br />
<p>TODO Create Group</p>
<br />
<p>Let's <a href="/EditGroups/EditGroup?userId=@userId&groupId=-1">create</a> one.</p>
}
else
{
@*Výběr pro přepínání mezi skupinami jednotek*@
<label>Choose UnitGroup</label>
<select id="dropDownList" onchange="changeGroup()">
    @foreach (var group in groups)
        {
    <option id="@group.Id" value="@group.Id">@group.Name</option>
        }
</select><br />

<script>
    document.getElementById("@groupId").selected = true;
</script>

<script>
    function changeGroup() {
        newGroupId = document.getElementById("dropDownList").value;
        location.href = "/ListUnits/ListUnits?userId=@userId&groupId=" + newGroupId;
    }
</script>

@if (units.Length == 0)
    {
<p>This UnitGroup is empty.</p>
<p>Let's <a href="/EditUnit/EditUnit?userId=@userId&groupId=@groupId&unitId=-1">create</a> new Unit in this group.</p>
    }
    else
    {
<table>
    <tr>
        <th>UnitType</th>
        <th>Name</th>
        <th>Color</th>
        <th>Note</th>
        <th>CurrentCapacity</th>
        <th>MaxCapacity</th>
        <th>ContractLink</th>
    </tr>
    <tr>
        <td>
            <a href="/EditUnit/EditUnit?userId=@userId&groupId=@groupId&unitId=-1"><button type="button">Create new unit in this group</button></a>
        </td>
    </tr>
    @foreach (var unit in units)
            {
    <tr>
        <td>@unit.UnitType</td>
        <td>@unit.Name</td>
        <td>@unit.Color</td>
        <td>@unit.Note</td>
        <td>@unit.CurrentCapacity</td>
        <td>@unit.MaxCapacity</td>
        <td>@unit.ContractLink</td>
        <td><a href="/EditUnit/EditUnit?userId=@userId&groupId=@groupId&unitId=@unit.Id"><button type="button">Show details</button></a></td>
    </tr>
            }
</table>
    }
}
