@using Castle.Core.Logging
@using Microsoft.Extensions.Logging
@using WebAppMVC.Utils
@model BLL.DTOs.UnitsOverviewDTO

@{
    ViewData["Title"] = "Show Units";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!Model.Groups.Any())
{
    <p>You don't have any UnitGroups.</p>
    <hr />

    <button class="btn btn-warning" asp-controller="Groups" asp-action="EditGroup">Create New UnitGroup</button>
}
else
{
    <label>Choose UnitGroup</label>
    <select id="selectGroupList" class="custom-select custom-select-lg mb-3" onchange="changeGroup()">
        @foreach (var group in Model.Groups)
        {
            <option id="@group.Id" value="@group.Id">@group.Name</option>
        }
    </select>

    <br />
    <hr />
    <br />

    <script>
        function changeGroup() {
            @{ Log.Called("changeGroup()"); }
            var newGroupId = document.getElementById('selectGroupList').value;
            location.href = '/Units/MyUnits?unitGroupID=' + newGroupId;
        }
    </script>

    @if (!Model.UnitsInGroup.Any())
    {
        <p>This UnitGroup is empty.</p>
        <hr />

        <button class="btn btn-warning" asp-controller="Units" asp-action="CreateUnit">Create New Unit</button>
    }
    else
    {
        @foreach (var unit in Model.UnitsInGroup)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Edit Unit</a>
                </div>
            </div>
        }

        @*
            <table>
                <tr>
                    <th>UnitType</th>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Note</th>
                    <th>CurrentCapacity</th>
                    <th>MaxCapacity</th>
                    <th>ContractLink</th>
                </tr>
                <tr>
                    <td>
                        <a href="/Units/EditUnit?userId=@userId&groupId=@groupId&unitId=-1"><button type="button">Create new unit in this group</button></a>
                    </td>
                </tr>
                @foreach (var unit in units)
                {
                    <tr>
                        <td>@unit.UnitType</td>
                        <td>@unit.Name</td>
                        <td>@unit.Color</td>
                        <td>@unit.Note</td>
                        <td>@unit.CurrentCapacity</td>
                        <td>@unit.MaxCapacity</td>
                        <td>@unit.ContractLink</td>
                        <td><a href="/Units/EditUnit?userId=@userId&groupId=@groupId&unitId=@unit.Id"><button type="button">Show details</button></a></td>
                    </tr>
                }
            </table>
        *@
    }
}
