@model BLL.DTOs.CreateOrEditUnitDTO

@{
    ViewData["Title"] = "Edit Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><span class="text-muted">Edit</span> <span class="font-weight-bold">@Model.Unit.Specification.Name</span></h3>

<form asp-controller="Units" asp-action="UpdateUnit" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ugSelect">Want to change Unit Group?</label>
        <select id="ugSelect" name="groupId" class="custom-select custom-select-lg mb-3">
            @foreach (var unitGroup in Model.UnitGroups)
            {
                var selectedOption = unitGroup.Id == Model.SelectedUnitGroup?.Id;

                <option selected="@selectedOption" id="unitGroup_@unitGroup.Id" value="@unitGroup.Id">
                    @unitGroup.Name
                </option>
            }
        </select>
    </div>

    <hr />

    <div class="form-row">
        <div class="form-group col-md-7">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" class="form-control"
                   placeholder="Byt č.7" value="@Model.Unit.Specification.Name">
            <span asp-validation-for="@Model.Unit.Specification.Name" class="text-danger"></span>
        </div>

        <div class="form-group col-md-5">
            <label for="uTypeSelect">Change Unit Type?</label>
            <select id="uTypeSelect" name="unitTypeId" class="custom-select custom-select mb-3">
                @foreach (var unitType in Model.UnitTypes)
                {
                    var selectedOption = unitType.Id == Model.Unit.UnitTypeId;

                    <option selected="@selectedOption" id="unitType_@unitType.Id" value="@unitType.Id">
                        @unitType.Type
                    </option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="textArea">Note</label>
        <textarea class="form-control" id="textArea" rows="2" name="noteText">@Model.Unit.Note</textarea>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="currentCapacity">Current Capacity</label>
            <input type="number" class="form-control" id="currentCapacity" name="currentCapacity" min="0"
                   value="@Model.Unit.CurrentCapacity">
        </div>
        <div class="form-group col-md-3">
            <label for="currentCapacity">Maximal Capacity</label>
            <input type="number" class="form-control" id="maxCapacity" name="maxCapacity" min="0"
                   value="@Model.Unit.MaxCapacity">
        </div>

        <div class="form-group col-md-4 offset-2">
            <label for="monthlyCosts">Monthly Income</label>
            <input type="number" class="form-control" id="monthlyCosts" name="monthlyCosts" min="0"
                   value="@Model.Unit.MonthlyIncome">
        </div>
    </div>

    <hr />

    <label>Address</label>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="street">Street</label>
            <input id="street" type="text" name="street" class="form-control"
                   placeholder="Botanická" value="@Model.Unit.Specification.Address.Street">
        </div>
        <div class="form-group col-md-3">
            <label for="streetNumber">Street Number</label>
            <input id="streetNumber" type="text" name="streetNumber" class="form-control"
                   placeholder="68a" value="@Model.Unit.Specification.Address.Number">
        </div>

        <div class="form-group offset-2 col-md-4">
            <label for="selectColor">Change color?</label>
            <select id="selectColor" name="colorId" class="custom-select custom-select mb-3">
                @foreach (var color in Model.Colors)
                {
                    var selectedOption = color.Id == Model.Unit.Specification.ColorId;

                    <option id="color_@color.Id" selected="@selectedOption" value="@color.Id">@color.Name</option>
                }
            </select>
        </div>


    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="city">City</label>
            <input id="city" type="text" name="city" class="form-control"
                   placeholder="Brno" value="@Model.Unit.Specification.Address.City">
        </div>
        <div class="form-group col-md-3">
            <label for="zip">ZIP Code</label>
            <input id="zip" type="text" name="zip" class="form-control"
                   placeholder="602 00" value="@Model.Unit.Specification.Address.Zip">
        </div>

        <div class="offset-2">
            <label>Contract</label>
            <input readonly="readonly" type="text" id="contractName" hidden value="@Model.Unit?.Contract?.Name" />

            <div class="form-group">
                <input type="file" class="form-group" name="contractFile" id="contractFile" onchange="DisplayFilename()" />
            </div>

        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="state">State</label>
            <input id="state" type="text" name="state" class="form-control"
                   placeholder="Česká Republika" value="@Model.Unit.Specification.Address.State">
        </div>

        <div class="row offset-2 col-md-4 align-items-end" style="padding-bottom: 16px;">
            <button class="btn btn-outline-success" style="width: 100%" type="submit">Update</button>
        </div>
    </div>

    <input type="hidden" name="unitId" value="@Model.Unit.Id" />
</form>


<script>
    function OpenContract() {
        window.open('/Units/OpenContract?id=@Model.Unit.Id', "_blank");
    };

    function DisplayFilename() {
        var uploadedFile = document.getElementById("customFile").value.split("\\").pop();
        document.getElementById("contractName").innerHTML = uploadedFile;
    }
</script>

