@using WebMVC.Utils
@model BLL.DTOs.UnitsOverviewDTO

@{
    ViewData["Title"] = "Show Units";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!Model.Groups.Any())
{
    <p>You don't have any UnitGroups.</p>
    <hr/>

    <a class="btn btn-warning" asp-controller="Groups" asp-action="EditGroup"
       asp-route-createNewInt="1">
        Create New UnitGroup
    </a>
}
else
{
    <label>Choose UnitGroup</label>
    <div class="row">
        <select id="selectGroupList" class="custom-select custom-select-lg col-md-8" onchange="changeGroup()">
            @foreach (var group in Model.Groups)
            {
                var selectedOption = group.Id == Model.CurrentGroup.Id;

                <option selected="@selectedOption" id="@group.Id" value="@group.Id">@group.Name</option>
            }
        </select>

        <a class="btn btn-warning offset-2 col-md-2" asp-controller="Units" asp-action="CreateUnit"
           asp-route-groupId="@Model.CurrentGroup.Id" style="margin-bottom: 8px; margin-top: 8px;">
            Create New Unit
        </a>
    </div>

    <hr/>

    <script>
        function changeGroup() {
            @{ Log.Called("changeGroup()"); }
            var newGroupId = document.getElementById('selectGroupList').value;
            location.href = '/Units/MyUnits?unitGroupID=' + newGroupId;
        }
    </script>

    @if (!Model.UnitsInGroup.Any())
    {
        <p>This UnitGroup is empty.</p>
        <hr/>

        <a class="btn btn-warning" asp-controller="Units" asp-action="EditUnit" asp-route-groupId="@Model.CurrentGroup.Id">Create New Unit</a>
    }
    else
    {
        <div class="container">
            <div class="row">
                @foreach (var unit in Model.UnitsInGroup)
                {
                    var capacityColor = unit.CurrentCapacity >= unit.MaxCapacity ? "danger" : "success";

                    <div class="col-sm-4 py-2">
                        <div class="card h-100 border-@capacityColor">
                            <div class="card-body">
                                <h3 class="card-title">@unit.Specification.Name</h3>
                                <p class="card-text text-muted">@unit.TypeStr</p>
                                <ul class="list-group list-group-flush" style="margin-bottom: 22px;">
                                    <li class="list-group-item text-@capacityColor">Capacity: @unit.CurrentCapacity/@unit.MaxCapacity</li>
                                    <li class="list-group-item">Monthly Income: @unit.MonthlyIncome,-</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                                <a asp-action="EditUnit" asp-route-groupId="@Model.CurrentGroup.Id" asp-route-unitId="@unit.Id"
                                   class="btn btn-outline-dark" style="position: relative; bottom: 0px; width: 100%">
                                    Edit Unit
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}