@model MVC.Models.EditUnitModel

@{ 
    ViewData["Title"] = "Edit Unit";
    var unit = Model.Unit;
    var colors = Model.Colors;
    var unitTypes = Model.UnitTypes;
}

<h3>Edit Unit</h3>

<form action="/Delta/SaveUnit" method="post">
    <label>Name</label><br />
    <input type="text" name="name" value="@unit.Name"/><br />

    <label>Color</label><br />
    <select id="selectColor" name="selectColor">
        @foreach (var color in colors)
        {
            <option value="@color.Id">@color.Name</option>
        }
    </select><br />


    <label>TODO Address</label><br />
    <input type="text" value="TODO nefunguje" /><br />

    <label>Note</label><br />
    <input type="text" name="note" value="@unit.Note"><br />

    <input type="hidden" name="unitId" value="@unit.Id" />

    <input type="submit" value="Save"/>
</form>
