@model MVC.Models.ListUnitsModel

@{
    var units = Model.Units;
}
<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Note</th>
        <th>CurrentCapacity</th>
        <th>MaxCapacity</th>
        <th>UnitType</th>
        <th>ContractLink</th>
    </tr>
    @foreach (var unit in units)
    {
        <tr>
            <td>@unit.Specification.Name</td>
            <td>@unit.Specification.Color</td>
            <td>@unit.Specification.Note</td>
            <td>@unit.CurrentCapacity</td>
            <td>@unit.MaxCapacity</td>
            <td>@unit.UnitType.Type</td>
            <td>@unit.ContractLink</td>
        </tr>
    }
</table>
