@model BLL.DTOs.CostsWithUnitIdDTO

@{
    ViewData["Title"] = "Show Costs";
}

<h1>Show Costs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="ShowCosts" asp-route-unitId="@Model.UnitId" asp-route-sortBy="Name" asp-route-isAscending="true">↓</a>
                Name
                <a asp-action="ShowCosts" asp-route-unitId="@Model.UnitId" asp-route-sortBy="Name" asp-route-isAscending="false">↑</a>
            </th>
            <th>
                <a asp-action="ShowCosts" asp-route-unitId="@Model.UnitId" asp-route-sortBy="Price" asp-route-isAscending="true">↓</a>
                Price
                <a asp-action="ShowCosts" asp-route-unitId="@Model.UnitId" asp-route-sortBy="Price" asp-route-isAscending="false">↑</a>
            </th>
            <th>
                <a asp-action="ShowCosts" asp-route-unitId="@Model.UnitId" asp-route-sortBy="Type" asp-route-isAscending="true">↓</a>
                Cost Type
                <a asp-action="ShowCosts" asp-route-unitId="@Model.UnitId" asp-route-sortBy="Type" asp-route-isAscending="false">↑</a>
            </th>
            <th>
                <a asp-action="ShowCosts" asp-route-unitId="@Model.UnitId" asp-route-sortBy="Date" asp-route-isAscending="true">↓</a>
                Date
                <a asp-action="ShowCosts" asp-route-unitId="@Model.UnitId" asp-route-sortBy="Date" asp-route-isAscending="false">↑</a>
            </th>
            <th>
                <a asp-action="CreateCost" asp-route-unitId="@Model.UnitId">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var cost in Model.CostsDTO) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => cost.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cost.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cost.CostType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cost.Date)
            </td>
            <td>
                <a asp-action="EditCost" asp-route-costId="@cost.Id" asp-route-unitId="@cost.UnitId" asp-route-name="@cost.Name" asp-route-price="@cost.Price" 
                   asp-route-costType="@cost.CostType" asp-route-date="@cost.Date.ToString("yyyy-MM-dd")">Edit</a> |
                <a asp-action="DeleteCost" asp-route-costId="@cost.Id" asp-route-unitId="@cost.UnitId" asp-route-name="@cost.Name" asp-route-price="@cost.Price" 
                   asp-route-costType="@cost.CostType" asp-route-date="@cost.Date.ToString("yyyy-MM-dd")">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
