@model MVC.Models.EditGroupModel

@{
    ViewData["Title"] = "Group Details";
    ViewData["UserId"] = Model.UserId;
    var userId = Model.UserId;
    var groupId = Model.GroupId;
    var group = Model.Group;
    var colors = Model.Colors;
    var createNew = Model.CreateNew;
}

@if (createNew)
{
    <h3>Edit Group</h3>
}
else
{
    <h3>Create New Group</h3>
}

    <form action="/EditGroup/SaveGroup" method="post">
        <label for="name">Name</label>
        <br />
        <input type="text" name="name" value="@group.Name" />
        <br />

        <label for="color">Color</label>
        <br />
        <select name="colorSelect">
            @foreach (var color in colors)
            {
                <option id="color_@color.Id" value="@color.Id">@color.Name</option>
            }
        </select><br />

        <script>
            if (@group.ColorId != -1) {
                document.getElementById("color_" + @group.ColorId).selected = true;
            }
        </script>

        <label>State</label><br />
        <input type="text" name="state" value="@group.State" /><br />

        <label>City</label><br />
        <input type="text" name="city" value="@group.City" /><br />

        <label>Street</label><br />
        <input type="text" name="street" value="@group.Street" /><br />

        <label>Number</label><br />
        <input type="text" name="number" value="@group.Number" /><br />

        <label>Zip</label><br />
        <input type="text" name="zip" value="@group.Zip" /><br />

        <label for="note">Note</label><br />
        <textarea name="note">@group.Note</textarea><br />

        <input type="hidden" name="userId" value="@userId" />
        <input type="hidden" name="groupId" value="@group.Id" />

        <input type="submit" value="Save"><br />
    </form>

@if (!createNew)
{
   <button type="button" onclick="confirmDeleteGroup()">Delete Group</button>

   <script>
    function confirmDeleteGroup() {
        result = confirm("Are you sure?");
        if (result) {
            location.href = "/EditGroup/DeleteGroup?userId=@userId&groupId=@groupId";
        }
    };
   </script>
}