@model WebAppMVC.Models.CostsModel

@{
    ViewData["Title"] = "Monthly costs";
    //var monthlyCosts = null;// Model.MonthlyCosts;
}

<h3>Monthly costs</h3>
@*
@if (monthlyCosts.Length == 0)
{
    <p>There are no monthly cost data.</p>
}
else
{
    @for (int i = 0; i < monthlyCosts.Length; i++)
    {
        <label onclick="changeData(@i)">@monthlyCosts[i].Name</label>
    }

<script>
    function changeData(index) {
        @{
            var cost = monthlyCosts[0];
        }
        document.getElementById("unit").innerHTML = "@cost.Unit";
        document.getElementById("name").innerHTML = "@cost.Name";
        document.getElementById("price").innerHTML = "@cost.Price";
        document.getElementById("costType").innerHTML = "@cost.CostType";
        document.getElementById("date").innerHTML = "@cost.Date";
    };
</script>

<label>Unit: </label><label id="unit"></label><br />
<label>Name: </label><label id="name"></label><br />
<label>Price: </label><label id="price"></label><br />
<label>Cost Type:</label><label id="costType"></label><br />
<label>Date:</label><label id="date"></label><br />
}
    *@